body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #c6c6c6;
}
  
.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
h1 {
    color: #333;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}
  
ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
  
li {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
  
a {
    text-decoration: none;
    text-align: center;
    color: #7eafda;
}
  
a:hover {
    text-decoration: underline;
}

li:nth-child(odd) {
    background-color: #ffe6e6;
}
  
li:nth-child(even) {
    background-color: #a5d6f9;
}
